
body{
  background-color: #DFD3C3;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  
  border: 1px solid #61764B;
  padding: 5px;
}
h1{
  text-align: center;
  background-color:#61764B ;

}
label{
  margin: 8px;
  font-size: 16px;
  font-weight: 700;
}
input{
  width: 230px;
  padding: 4px;
  margin: 8px;
}
textarea{
  width: 235px;
  margin: 8px;
}
.button{
  width: 243px;
  background-color:#61764B ;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 6px;
}
.button:hover{
  background-color:#DD5353 ;
}
.button:active{
  background-color: #7D6E83;
}